:root {
    --primary-color:#ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #fff;
    --border-color:#dbdbdb;
    --star-gold-color:rgb(255 249 0);

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.width-full{
    width: 100%;
}
.col-third{
    width: 33.3333%;
}
.col{
    float: left;

}
.col-half{
    width: 50%;
}

